---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/gdurelle/githubmates
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1408193743'
      Last-Modified:
      - Sat, 16 Aug 2014 09:59:37 GMT
      Etag:
      - '"e824551494f8b847a4d5c91e0d753489"'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"id":22724743,"name":"githubmates","full_name":"gdurelle/githubmates","owner":{"login":"gdurelle","id":7200,"avatar_url":"https://avatars.githubusercontent.com/u/7200?v=2","gravatar_id":"68eb543d5b8ffacee7c83a7b1ae1c111","url":"https://api.github.com/users/gdurelle","html_url":"https://github.com/gdurelle","followers_url":"https://api.github.com/users/gdurelle/followers","following_url":"https://api.github.com/users/gdurelle/following{/other_user}","gists_url":"https://api.github.com/users/gdurelle/gists{/gist_id}","starred_url":"https://api.github.com/users/gdurelle/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/gdurelle/subscriptions","organizations_url":"https://api.github.com/users/gdurelle/orgs","repos_url":"https://api.github.com/users/gdurelle/repos","events_url":"https://api.github.com/users/gdurelle/events{/privacy}","received_events_url":"https://api.github.com/users/gdurelle/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/gdurelle/githubmates","description":"A
        sample app to geolocate github committers from a given repo.","fork":false,"url":"https://api.github.com/repos/gdurelle/githubmates","forks_url":"https://api.github.com/repos/gdurelle/githubmates/forks","keys_url":"https://api.github.com/repos/gdurelle/githubmates/keys{/key_id}","collaborators_url":"https://api.github.com/repos/gdurelle/githubmates/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/gdurelle/githubmates/teams","hooks_url":"https://api.github.com/repos/gdurelle/githubmates/hooks","issue_events_url":"https://api.github.com/repos/gdurelle/githubmates/issues/events{/number}","events_url":"https://api.github.com/repos/gdurelle/githubmates/events","assignees_url":"https://api.github.com/repos/gdurelle/githubmates/assignees{/user}","branches_url":"https://api.github.com/repos/gdurelle/githubmates/branches{/branch}","tags_url":"https://api.github.com/repos/gdurelle/githubmates/tags","blobs_url":"https://api.github.com/repos/gdurelle/githubmates/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/gdurelle/githubmates/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/gdurelle/githubmates/git/refs{/sha}","trees_url":"https://api.github.com/repos/gdurelle/githubmates/git/trees{/sha}","statuses_url":"https://api.github.com/repos/gdurelle/githubmates/statuses/{sha}","languages_url":"https://api.github.com/repos/gdurelle/githubmates/languages","stargazers_url":"https://api.github.com/repos/gdurelle/githubmates/stargazers","contributors_url":"https://api.github.com/repos/gdurelle/githubmates/contributors","subscribers_url":"https://api.github.com/repos/gdurelle/githubmates/subscribers","subscription_url":"https://api.github.com/repos/gdurelle/githubmates/subscription","commits_url":"https://api.github.com/repos/gdurelle/githubmates/commits{/sha}","git_commits_url":"https://api.github.com/repos/gdurelle/githubmates/git/commits{/sha}","comments_url":"https://api.github.com/repos/gdurelle/githubmates/comments{/number}","issue_comment_url":"https://api.github.com/repos/gdurelle/githubmates/issues/comments/{number}","contents_url":"https://api.github.com/repos/gdurelle/githubmates/contents/{+path}","compare_url":"https://api.github.com/repos/gdurelle/githubmates/compare/{base}...{head}","merges_url":"https://api.github.com/repos/gdurelle/githubmates/merges","archive_url":"https://api.github.com/repos/gdurelle/githubmates/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/gdurelle/githubmates/downloads","issues_url":"https://api.github.com/repos/gdurelle/githubmates/issues{/number}","pulls_url":"https://api.github.com/repos/gdurelle/githubmates/pulls{/number}","milestones_url":"https://api.github.com/repos/gdurelle/githubmates/milestones{/number}","notifications_url":"https://api.github.com/repos/gdurelle/githubmates/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/gdurelle/githubmates/labels{/name}","releases_url":"https://api.github.com/repos/gdurelle/githubmates/releases{/id}","created_at":"2014-08-07T14:42:16Z","updated_at":"2014-08-16T09:59:37Z","pushed_at":"2014-08-14T17:32:03Z","git_url":"git://github.com/gdurelle/githubmates.git","ssh_url":"git@github.com:gdurelle/githubmates.git","clone_url":"https://github.com/gdurelle/githubmates.git","svn_url":"https://github.com/gdurelle/githubmates","homepage":"http://githubmates.herokuapp.com/","size":288,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_downloads":true,"has_wiki":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","network_count":0,"subscribers_count":1}'
  recorded_at: Sat, 16 Aug 2014 11:55:43 GMT
- request:
    method: get
    uri: https://api.github.com/repos/gdurelle/githubmates/contributors
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Ratelimit-Reset:
      - '1408193743'
      Last-Modified:
      - Sat, 16 Aug 2014 09:5[...]
- request:
    method: get
    uri: https://api.github.com/users/gdurelle
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Ratelimit-Reset:
      - '1408193743'
      Last-Modified:
      - Sat, 16 Aug 2014 11:55:27 GMT
      Etag:
    [...]
