---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/gdurelle
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Reset:
      - '1408021414'
      Last-Modified:
      - Tue, 12 Aug 2014 11:53:06 GMT
      Etag:
      - '"53be79d249b91a5a993d3c3bb816f348"'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"login":"gdurelle","id":7200,"avatar_url":"https://avatars.githubusercontent.com/u/7200?v=2","gravatar_id":"68eb543d5b8ffacee7c83a7b1ae1c111","url":"https://api.github.com/users/gdurelle","html_url":"https://github.com/gdurelle","followers_url":"https://api.github.com/users/gdurelle/followers","following_url":"https://api.github.com/users/gdurelle/following{/other_user}","gists_url":"https://api.github.com/users/gdurelle/gists{/gist_id}","starred_url":"https://api.github.com/users/gdurelle/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/gdurelle/subscriptions","organizations_url":"https://api.github.com/users/gdurelle/orgs","repos_url":"https://api.github.com/users/gdurelle/repos","events_url":"https://api.github.com/users/gdurelle/events{/privacy}","received_events_url":"https://api.github.com/users/gdurelle/received_events","type":"User","site_admin":false,"name":"Gregory
        Durelle","company":"","blog":"http://gdurelle.com","location":"Paris","email":"gregory.durelle@gmail.com","hireable":true,"bio":null,"public_repos":14,"public_gists":0,"followers":6,"following":12,"created_at":"2008-04-14T08:15:42Z","updated_at":"2014-08-12T11:53:06Z"}'
  recorded_at: Thu, 14 Aug 2014 12:18:08 GMT
recorded_with: VCR 2.9.2
